:root {
    --grid-rows: 1;
    --grid-columns: 1;
}

html {
    background: #659DBD;
}

div {
    display: block;
}

#title {
    font-family: 'Liu Jian Mao Cao', cursive;
    color: #BC986A;
    text-align: center;
    font-size: 3.5em;
}

#buttons {
    display: grid;
    position: relative;
}

#clearBtn {
    
    padding: 0.5em 1em;
    margin: auto;
    margin-bottom: 1.5vw;
    background:coral;
    border: none;
    

}

#clearBtn:hover{
    transform: scale(1.1);
    transform-origin: center;
    box-shadow: 0 0 25px black;
    
    
}

#clearBtn:active {
    
    box-shadow: 0 0 25px black;
    border: 1px solid black;
    transform: translateY(1px) ;
    
  }

#container {
    
    box-sizing: content-box;
    display: grid;
    margin: auto;
    /*grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);*/
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    height: 55vw;
    width: 55vw;
    
    border: 2px solid black;
}

.cell {
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.865);
}

#someID {
    font-size: 2em;
}

.super {
    color: #FF3B3F;
}

.bone {
    color: #FFB951;
}

.craft {
    color: #FFF547;
}